/* general */
body{
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
}

.wrapper_70{
  width: 70%;
  margin: 0 auto;
}
.wrapper_80{
  width: 80%;
  margin: 0 auto;
}
.wrapper_60{
  width: 60%;
  margin: 0 auto
}
.padding_bottom{
  padding-bottom: 40px;
}
.padding_top{
  padding-top: 40px;
}
h1{
  font-size: 6rem;
}
h2{
  color: white;
  margin-bottom: 10px;
  font-size: 5rem;
  text-transform: uppercase;
}
/* divisore a stella */
.star{
  color: white;
  font-size: 3rem
}
.portfolio .star,
.contact .star{
  color: #2C3D50;
}
.contact h2,
.portfolio h2{
  color: #2C3D50
}
.divider-custom{
  margin: 0.5rem 0 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line:last-child{
  margin-left: 1rem;
}
.line{
  width: 100%;
  max-width: 12rem;
  height: 0.4rem;
  border-radius: 1rem;
  margin-right: 1rem
}


/* buttons */
.btn_green {
  background-color: #53BC9D;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}
/* backgrounds */
.bg_blue{
  background-color: #2C3D50;
}
.bg_green{
  background-color: #53BC9D;
}
.bg_white{
  background-color: white;
}

/* header   */
/* headertop */
.header_top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: white;
  line-height: 80px;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 16px;
  z-index:4;
}
/* navbar */
.navbar_header ul li{
  display: inline-block;
  list-style: none;
}
.navbar_header ul li a{
  text-decoration: none;
  margin-left: 20px;
  color: white;
  font-size: 16px;
}
.navbar_header a{
  color: white;
}
.navbar_header ul li a:hover{
color: #53BC9D;
}
.header_top p{
  font-size: 1.4em;
}
/* header bottom */
.jumbo {
  margin-top: 80px;
  padding: 80px 0;
}
.jumbo_text {
  width: 60%;
  margin: 0 auto;
  color: white;
  font-weight: bold;
}
.jumbo_text img{
  width: 250px;
  text-align: center;
}
/* main */

/* portfolio */

.box_portfolio{
  margin-bottom: 30px;
  position: relative;
}

.box_portfolio img{
  border-radius: 10px;
  width: 100%;
  height:100%;
}
.layover{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(85,187,157,0.9);
  visibility: hidden;
}
.cross{
  position: absolute;
  left: 40%;
  top: 30%;
  transform: translate(-50% -50%);
  color: white;
  font-size: 80px;
}
.layout:hover{
  visibility: visible;
}
.box_portfolio:hover{
  cursor: pointer;

}

/* about */
.about{
}

/* footer */
/* footer top */
.footer_top{
  color: white;
}

/* footer_bottom */
.footer_bottom{
color: white;
background-color: #1A252E;
padding-top: 20px;
padding-bottom: 20px;
}
